body{
  background-color: #000080;
}
button {
  background-color: white;
  color: #000080;
  border: 2px solid #000080;
}
button:hover{
  background-color: #000080;
  color: #fff;
  border: none;
}
button:focus {
  outline: 0;
}

button:active {
  outline: none;
  border: 2px solid #000080;
}
input{
  border: 2px solid #000080;
}

.form{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px
}
form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #f2f2f2;
  padding-top: 50px;
}
